ADMIN_API_KEY=
DATABASE_URL=
DO_SPACES_BUCKET=
DO_SPACES_CDN_URL=
DO_SPACES_ENDPOINT=
DO_SPACES_KEY=
DO_SPACES_REGION=
DO_SPACES_SECRET=
NEXT_PUBLIC_APP_URL=https://yeti.ooih.dev
NEXT_PUBLIC_BOT_USERNAME=e_task_bot
QSTASH_CURRENT_SIGNING_KEY=
QSTASH_NEXT_SIGNING_KEY=
QSTASH_TOKEN=
QSTASH_URL=https://qstash.upstash.io
TG_BOT_TOKEN=
